body {
  padding: 0 2%;
}
figure {
  margin: 0;
  padding: 0;
}
figure img {
  width: 100%;
  height: auto;
}
.grid {
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.grid:before,
.grid > *:before,
.grid:after,
.grid > *:after {
  content: " ";
  display: table;
}
.grid:after,
.grid > *:after {
  clear: both;
}
.grid-wrapper {
  padding: 0 2%;
}
.grid.pull {
  margin: 0 -10px;
}
.grid {
  margin: 0 -8px;
}
.grid > * {
  padding: 0 8px;
}
.grid > * {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.third-X > *,
.X-third > *,
.quarter-X > *,
.X-quarter > *,
.fifth-X > *,
.X-fifth > *,
.sixth-X > *,
.X-sixth > *,
.phi-X > *,
.X-phi > * {
  display: block;
  float: left;
}
.grid > .grid {
  margin: 0;
  padding: 0;
}
.grid.full > * {
  width: 100%;
}
@media only screen and (min-width: 30em) {
  .grid-wrapper {
    padding: 0 3%;
  }
  .grid {
    margin: 0 -8px;
  }
  .grid > * {
    padding: 0 8px;
  }
  .grid.single-row {
    white-space: nowrap;
    overflow: auto;
    padding-bottom: 1px;
  }
  .grid.single-row > * {
    float: none;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
  .grid.halfs > *,
  .grid.quarters > *,
  .grid.sixths > *,
  .grid.fifths > *:nth-child(4),
  .grid.fifths > *:nth-child(5) {
    width: 50%;
  }
  .grid.thirds > *,
  .grid.fifths > * {
    width: 33.33333333333333%;
  }
  .grid .grid.halfs > * {
    width: 100%;
  }
  .grid .grid.thirds > * {
    width: 100%;
  }
  .grid.phi-X > *:nth-child(1),
  .grid.X-phi > *:nth-child(2) {
    width: 38.2%;
  }
  .grid.phi-X > *:nth-child(2),
  .grid.X-phi > *:nth-child(1) {
    width: 61.8%;
  }
  .grid.third-X > *:nth-child(1),
  .grid.X-third > *:nth-child(2) {
    width: 33.33333333333333%;
  }
  .grid.third-X > *:nth-child(2),
  .grid.X-third > *:nth-child(1) {
    width: 66.66666666666666%;
  }
  .grid.quarter-X > *:nth-child(1),
  .grid.X-quarter > *:nth-child(2) {
    width: 33.33333333333333%;
  }
  .grid.quarter-X > *:nth-child(2),
  .grid.X-quarter > *:nth-child(1) {
    width: 66.66666666666666%;
  }
  .grid.fifth-X > *:nth-child(1),
  .grid.X-fifth > *:nth-child(2) {
    width: 33.33333333333333%;
  }
  .grid.fifth-X > *:nth-child(2),
  .grid.X-fifth > *:nth-child(1) {
    width: 66.66666666666666%;
  }
  .grid.sixth-X > *:nth-child(1),
  .grid.X-sixth > *:nth-child(2) {
    width: 16.666666666666664%;
  }
  .grid.sixth-X > *:nth-child(2),
  .grid.X-sixth > *:nth-child(1) {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 35.5625em) {
  .grid.sixths > * {
    width: 33.33333333333333%;
  }
  .grid {
    margin: 0 -10px;
  }
  .grid > * {
    padding: 0 10px;
  }
  .grid.quarter-X > *:nth-child(1),
  .grid.X-quarter > *:nth-child(2) {
    width: 25%;
  }
  .grid.quarter-X > *:nth-child(2),
  .grid.X-quarter > *:nth-child(1) {
    width: 75%;
  }
  .grid.fifth-X > *:nth-child(1),
  .grid.X-fifth > *:nth-child(2) {
    width: 25%;
  }
  .grid.fifth-X > *:nth-child(2),
  .grid.X-fifth > *:nth-child(1) {
    width: 75%;
  }
}
@media only screen and (min-width: 40.0625em) {
  body {
    padding: 0 3%;
  }
  .grid.sixths > * {
    width: 25%;
  }
  .grid.fifth-X > *:nth-child(1),
  .grid.X-fifth > *:nth-child(2) {
    width: 25%;
  }
  .grid.fifth-X > *:nth-child(2),
  .grid.X-fifth > *:nth-child(1) {
    width: 75%;
  }
}
@media only screen and (min-width: 48.0625em) {
  body {
    padding: 0 6%;
  }
  .grid-wrapper {
    padding: 0 6%;
  }
  .grid {
    margin: 0 -12px;
  }
  .grid > * {
    padding: 0 12px;
  }
  .grid .grid.halfs > * {
    width: 50%;
  }
  .grid.sixths > * {
    width: 20%;
  }
}
@media only screen and (min-width: 64.0625em) {
  .grid.quarters > * {
    width: 25%;
  }
}
@media only screen and (min-width: 75.0625em) {
  body {
    padding: 0 10%;
  }
  .grid-wrapper {
    padding: 0 9%;
  }
  .grid {
    margin: 0 -10px;
  }
  .grid > * {
    padding: 0 10px;
  }
  .grid .grid.thirds > * {
    width: 33.33333333333333%;
  }
  .grid.fifths > *,
  .grid.fifths > *:nth-child(4),
  .grid.fifths > *:nth-child(5) {
    width: 20%;
  }
  .grid.sixths > * {
    width: 16.666666666666664%;
  }
  .grid.fifth-X > *:nth-child(1),
  .grid.X-fifth > *:nth-child(2) {
    width: 20%;
  }
  .grid.fifth-X > *:nth-child(2),
  .grid.X-fifth > *:nth-child(1) {
    width: 80%;
  }
}
