body {
  padding: 0 2%;
}
figure {
  margin: 0;
  padding: 0;
}
figure img {
  width: 100%;
  height: auto;
}
.g {
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.g:before,
.g > .g-el:before,
.g:after,
.g > .g-el:after {
  content: " ";
  display: table;
}
.g:after,
.g > .g-el:after {
  clear: both;
}
.grid-wrapper {
  padding: 0 2%;
}
.g.pull {
  margin: 0 -10px;
}
.g {
  margin: 0 -8px;
}
.g > .g-el {
  padding: 0 8px;
}
.g > .g-el {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.g-third-X > .g-el,
.g-X-third > .g-el,
.g-quarter-X > .g-el,
.g-X-quarter > .g-el,
.g-fifth-X > .g-el,
.g-X-fifth > .g-el,
.g-sixth-X > .g-el,
.g-X-sixth > .g-el,
.g-phi-X > .g-el,
.g-X-phi > .g-el {
  display: block;
  float: left;
}
.g > .g {
  margin: 0;
  padding: 0;
}
.g-full > .g-el {
  width: 100%;
}
@media only screen and (min-width: 30em) {
  .grid-wrapper {
    padding: 0 3%;
  }
  .g {
    margin: 0 -8px;
  }
  .g > .g-el {
    padding: 0 8px;
  }
  .g.single-row {
    white-space: nowrap;
    overflow: auto;
    padding-bottom: 1px;
  }
  .g.single-row > .g-el {
    float: none;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
  .g-halfs > .g-el,
  .g-quarters > .g-el,
  .g-sixths > .g-el,
  .g-fifths > .g-el:nth-child(4),
  .g-fifths > .g-el:nth-child(5) {
    width: 50%;
  }
  .g-thirds > .g-el,
  .g-fifths > .g-el {
    width: 33.33333333333333%;
  }
  .g .g-halfs > .g-el {
    width: 100%;
  }
  .g .g-thirds > .g-el {
    width: 100%;
  }
  .g-phi-X > .g-el:nth-child(1),
  .g-X-phi > .g-el:nth-child(2) {
    width: 38.2%;
  }
  .g-phi-X > .g-el:nth-child(2),
  .g-X-phi > .g-el:nth-child(1) {
    width: 61.8%;
  }
  .g-third-X > .g-el:nth-child(1),
  .g-X-third > .g-el:nth-child(2) {
    width: 33.33333333333333%;
  }
  .g-third-X > .g-el:nth-child(2),
  .g-X-third > .g-el:nth-child(1) {
    width: 66.66666666666666%;
  }
  .g-quarter-X > .g-el:nth-child(1),
  .g-X-quarter > .g-el:nth-child(2) {
    width: 33.33333333333333%;
  }
  .g-quarter-X > .g-el:nth-child(2),
  .g-X-quarter > .g-el:nth-child(1) {
    width: 66.66666666666666%;
  }
  .g-fifth-X > .g-el:nth-child(1),
  .g-X-fifth > .g-el:nth-child(2) {
    width: 33.33333333333333%;
  }
  .g-fifth-X > .g-el:nth-child(2),
  .g-X-fifth > .g-el:nth-child(1) {
    width: 66.66666666666666%;
  }
  .g-sixth-X > .g-el:nth-child(1),
  .g-X-sixth > .g-el:nth-child(2) {
    width: 16.666666666666664%;
  }
  .g-sixth-X > .g-el:nth-child(2),
  .g-X-sixth > .g-el:nth-child(1) {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 35.5625em) {
  .g-sixths > .g-el {
    width: 33.33333333333333%;
  }
  .g {
    margin: 0 -10px;
  }
  .g > .g-el {
    padding: 0 10px;
  }
  .g-quarter-X > .g-el:nth-child(1),
  .g-X-quarter > .g-el:nth-child(2) {
    width: 25%;
  }
  .g-quarter-X > .g-el:nth-child(2),
  .g-X-quarter > .g-el:nth-child(1) {
    width: 75%;
  }
  .g-fifth-X > .g-el:nth-child(1),
  .g-X-fifth > .g-el:nth-child(2) {
    width: 25%;
  }
  .g-fifth-X > .g-el:nth-child(2),
  .g-X-fifth > .g-el:nth-child(1) {
    width: 75%;
  }
}
@media only screen and (min-width: 40.0625em) {
  body {
    padding: 0 3%;
  }
  .g-sixths > .g-el {
    width: 25%;
  }
  .g-fifth-X > .g-el:nth-child(1),
  .g-X-fifth > .g-el:nth-child(2) {
    width: 25%;
  }
  .g-fifth-X > .g-el:nth-child(2),
  .g-X-fifth > .g-el:nth-child(1) {
    width: 75%;
  }
}
@media only screen and (min-width: 48.0625em) {
  body {
    padding: 0 6%;
  }
  .grid-wrapper {
    padding: 0 6%;
  }
  .g {
    margin: 0 -12px;
  }
  .g > .g-el {
    padding: 0 12px;
  }
  .g .g-halfs > .g-el {
    width: 50%;
  }
  .g-sixths > .g-el {
    width: 20%;
  }
}
@media only screen and (min-width: 64.0625em) {
  .g-quarters > .g-el {
    width: 25%;
  }
}
@media only screen and (min-width: 75.0625em) {
  body {
    padding: 0 10%;
  }
  .grid-wrapper {
    padding: 0 9%;
  }
  .g {
    margin: 0 -10px;
  }
  .g > .g-el {
    padding: 0 10px;
  }
  .g .g-thirds > .g-el {
    width: 33.33333333333333%;
  }
  .g-fifths > .g-el,
  .g-fifths > .g-el:nth-child(4),
  .g-fifths > .g-el:nth-child(5) {
    width: 20%;
  }
  .g-sixths > .g-el {
    width: 16.666666666666664%;
  }
  .g-fifth-X > .g-el:nth-child(1),
  .g-X-fifth > .g-el:nth-child(2) {
    width: 20%;
  }
  .g-fifth-X > .g-el:nth-child(2),
  .g-X-fifth > .g-el:nth-child(1) {
    width: 80%;
  }
}
