
body {
  background: #ddd;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.container {
  margin: 0 auto;
  padding: 3% 0;
  background: #fff;
  border-radius: 50% / 1em;
  box-shadow: 
    0 0 84px rgba(0,0,0,0.2),
    0 4px 4px -4px rgba(0,0,0,0.2);
}

.featured {
  background: #eee;
  padding: 1px 0;
}

header {
  position: relative;
}
header h1 {
  text-align: center;
  font-weight: 300;
  font-size: 3em;
  letter-spacing: -2px;
  text-shadow: 0 0 24px rgba(255, 255, 255, 1);
}
header nav {
  /*margin-top: 2.5em;
  margin-bottom: 1em;
  float: right;*/
  text-align: center;
  padding-bottom: 3%;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  display: inline-block;
  border-radius: 3px;
}
nav a {
  display: block;
  color: #555;
  text-decoration: none;
  padding: 0.75em;
}
nav a:hover {
  color: #111;
}
li.current {
  background: rgba(0,0,0,0.2);
}
li.current a {
  color: #fff;
}

.grid-wrapper section > h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: -1px;
  /*border-bottom: 2px solid rgba(0,0,0,0.06);*/
}

section {
  /*border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 2em;*/
}


/* grid */
.g .wrapper {
  background: #eee;
  padding: 0.5em 4%;
  border-radius: 4px;
  margin: .5em 0;
  box-shadow: 0 7px 2px -5px rgba(0,0,0,0.25);
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 85%;
  }
  .grid-wrapper > h1 {
    font-size: 4em;
    /*letter-spacing: -1px;*/
  }

  .g .wrapper {
    padding: 0.5em 10%;
  }
}

@media only screen and (min-width: 769px) {
  body {
    font-size: 85%;
  }
  header h1 {
    float: left;
    text-align: left;
    padding-left: 1%;
  }

  header nav {
    position: absolute;
    right: 6%;
    right: 1%;
    bottom: 24%;
    padding-bottom: 0;
  }
  header nav li {
    /*float: left;
    display: block;*/
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 90%;
  }
}

@media only screen and (min-width: 1201px) {
  body {
    font-size: 100%;
  }
}